{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <div class="row">
    
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">
<h3 style="font-size:50px">Neighborhood App!</h3>
        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <div class="col-xs-10"></div>
              <h2 class="text-center">
                <smal>OR</smal>
              </h2>
              <div class="col-xs-2"></div>
              <div class="panel-heading">
                <p class="pull-left">Don't have an account?</p>
                <a href="/accounts/register/" class="btn btn-primary btn-sm pull-right">Sin Up</a>
              </div>
            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
   
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}