{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container" style="font-family: 'ZCOOL XiaoWei', serif">
    <h1 style="text-align: center"> Welcome to {{neighbors.name}} {{user.username}}
    </h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">

                    <h2>BUSINESSES:</h2>
                    {% for b in business%}
                    <p><strong>Business name:</strong>{{b.business_name}}</p>
                    <p><strong>Business email:</strong>{{b.email}}</p>
                    <p><stong>Neighborhood:</stong>{{b.neighborhood}}</p>
                    <hr>
                    {% endfor %}
                    <a href="{%url 'new-business'%}" value=""><button class="btn btn-success btn-lg">Add business</button></a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <h2>POSTS:</h2>
                    
                    
                    {% for e in event %}
                    <p><strong>event description:</strong>{{e.description}}</p>
                    <p><strong>Date:</strong>{{e.date}}</p>
                    <hr>
                    {% endfor %}
                    <a href="{%url 'nw-event' %}" value=""><button class="btn btn-success btn-lg">Add Post</button></a>


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}