{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}
{{ block.super}}

<div style="border:opx solid black; background-color:azure; margin:20%;margin-top: 8%; padding-left:5%">
    <h2 style="margin-bottom:50px">{{current_user.username}} Profile</h2><hr>
    <div style="font-size:20px">
        <p><strong>name:</strong> {{profile.f_name}}</p><hr>
        <p><strong>Last name:</strong>{{profile.l_name}}</p><hr>
        <P><strong>Neighborhood: </strong>{{profile.neighborhood}}</p><hr>
        <p><strong>General location:</strong>{{ profile.general_location}}</p><hr>
        <a href="{% url 'new-business' %}"><button class="btn btn-success btn-lg">Add business</button></a>
        <a href="{% url 'add_profile' %}"><button class="btn btn-success btn-lg">Edit profile</button></a>

    </div>

</div>



{% endblock %}