{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}
{{ block.super}}

<div style="border:opx solid black; background-color:azure; margin:20%;margin-top: 10%; text-align: center">
    <h2 style="margin-bottom:50px">{{current_user.username}} Profile</h2>
    <div >
        <p>First name:{{profile.f_name}}</p>
        <p>Last name:{{profile.l_name}}</p>
        <P>Neighborhood: {{profile.neighborhood}}</p>
        <p>General location:{{ profile.general_location}}</p>
        <a href="{% url 'new-business' %}"><button class="btn btn-success btn-lg">Add business</button></a>
        <a href="{% url 'add_profile' %}"><button class="btn btn-success btn-lg">Edit profile</button></a>

    </div>

</div>



{% endblock %}