{%extends 'base.html'%}
{% block content %}
<div class="container"  style="margin-left:40%; margin-top: 10%">

    
    <div class="row" >

        {% if businesses %}
        {% for business in businesses %}
        
        <div class="card " style="font-size:20px; font-weight: 200">
                <h2><u>Business details</u></h2>
            <div class="card-body">
                <p><strong>business_name:</strong>{{business.business_name}}</p>
                <p><strong>Email_address:</strong>{{business.email}}</p>
                <p><strong>Location:</strong>{{business.neighborhood}}</p>
            </div>

        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}